<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    
</head>

<body>
	
	<table border="0" width="100%" height="800px" align="center">
		<tr>
			<td style="background-color: #f5f8fa;" valign="middle">
				<table border="0" width="680px" align="center" style="margin:0 auto;background:#fff;border-collapse:collapse;border-radius:5px;border-spacing:0;float:none;margin:0 auto;padding:0;text-align:center;vertical-align:top;width:680px;">

					<tr>
						<td>
							<table width="600px" align="center">
								<tbody>
								<tr>
									<td height="10">&nbsp;</td>
								</tr>
								<tr>
									<td height="35" width="656"><img width="180" src="http://localhost//assets/images/logo_giz.png" class="CToWUd"></td>
								</tr>
								<tr>
									<td height="10">&nbsp;</td>
								</tr>
								<tr>
									<td><h2 style="margin:0;margin-bottom:1em;color:#14171a;font-family:'Helvetica Neue LT','Helvetica Neue',Helvetica,Arial,sans-serif;font-size:26px;font-weight:700;line-height:1.2em;margin:0;margin-bottom:1em;padding:0;text-align:left;word-wrap:normal">Hola {{var_nombre_dest}}!!</h2></td>
								</tr>
								<tr>
									<td style="margin:0;border-collapse:collapse!important;color:#565a5e;font-family:'Helvetica Neue LT','Helvetica Neue',Helvetica,Arial,sans-serif;font-size:16px;font-weight:350;line-height:24px;margin:0;padding:0;text-align:left;vertical-align:top;word-wrap:break-word" height="5" width="656">{{BODY}}</td>
								</tr>
								<tr>
									<td style="font-family:Arial,Helvetica,sans-serif;font-weight:bold;font-size:11px;color:#000000" align="right" width="656"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
								</tr>
								<tr>
									<td height="100" >
										<a href="{{var_url}}" style=" background-color: #4CAF50;border: none;color: white;padding: 15px 32px;text-align: center;text-decoration: none;display: inline-block;font-size: 16px;margin: 4px 2px;cursor:pointer;"><span style="Margin:0;border:0 solid #ffad1f;border-radius:3px;color:#fff;display:inline-block;font-family:'Helvetica Neue LT','Helvetica Neue',Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.2em;margin:0;text-align:left;text-decoration:none">Ir al Sitio</span></a>
									</td>
								</tr>
								
								<tr>
									<td height="20">&nbsp;</td>
								</tr>
								<tr>
									<td style="margin:0;border-collapse:collapse!important;color:#565a5e;font-family:'Helvetica Neue LT','Helvetica Neue',Helvetica,Arial,sans-serif;font-size:16px;font-weight:350;line-height:24px;margin:0;padding:0;text-align:left;vertical-align:top;word-wrap:break-word;" height="5" width="656">¡Saludos cordiales!<br><br>

										Atte. Pulso Coparmex.

									</td>
								</tr>
								<tr>
									<td>
										<table width="656" border="0" align="center">
										<tbody>
											<tr><td align="left" style="font-family:Arial;font-size:20px;color:#000000" width="142"><b></b></td>
											</tr>
											<tr>
												<td height="20">&nbsp;</td>
											</tr>
											<tr>
												<td align="left" style="font-family:Arial;font-size:13px;color:#000000" align="center"><br>
												
												</td>
											</tr>
											<tr>
												<td height="20">&nbsp;</td>
											</tr>
										</tbody>
										</table>
									</td>
								</tr>
							</tbody>
							</table>
						</td>
					</tr>

					
				</table>			
			</td>
		</tr>
	</table>
	
</body>
</html>